Repository Rose-Hacks/rosehack-website, pull requests merged in 2022-12, with the labels that each got.

#160 Judges
  components/Judges.tsx
  components/Navigation.tsx
  components/Profile.tsx
  components/Sponsors.tsx
  components/data/QA.tsx
  components/data/judges.tsx
  components/data/register.tsx
  components/data/schools.tsx
  components/data/socials.tsx
  components/data/sponsors.tsx
  components/data/team.tsx
  pages/index.tsx
  public/pixels_3.webp
  tailwind.config.js
Labels: Board, Repository | CI, Judges

#175 Schedule
  components/Schedule.tsx
  components/data/schedule.js
  pages/index.tsx
  public/pixels_4.webp
  tailwind.config.js
Labels: Schedule

#187 fix heart ratio
  public/blue_heart.webp
  public/pink_heart.webp
Labels: ready to review
